<div class="row">
    <div class="col-md-4">
        <div class="big {{type}} info-item" data-item-type="{{type}}">
            <i class="{{type}} fa {{icon}}"></i><br>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row static-info">
            <div class="col-md-4 name">
                     Name:
            </div>
            <div class="col-md-8 value">
                     {{name}}
            </div>
        </div>
        <div class="row static-info">
            <div class="col-md-4 name">
                     Size:
            </div>
            <div class="col-md-8 value">
                     {{size}}
            </div>
        </div>
        <div class="row static-info">
            <div class="col-md-4 name">
                     Created:
            </div>
            <div class="col-md-8 value">
                     {{created}}
            </div>
        </div>
        <div class="row static-info">
            <div class="col-md-4 name">
                     Last Modified:
            </div>
            <div class="col-md-8 value">
                     {{modified}}
            </div>
        </div>
    </div>
</div>