<div class="big {{plain.t}} storage-item" draggable="true" data-item-id="{{id}}" data-item-type="{{plain.t}}" title="{{plain.n}}">
    <i class="{{plain.t}} fa {{icon}}"></i><br>
    <span>{{plain.n}}</span>
    <i class="item-options fa fa-gear"></i> 
</div>